[Desktop Entry]
Name=Sound Switcher
GenericName=Switch between analog and HDMI sound output
GenericName[de]=Tonausgabe zwischen analog und HDMI umschalten
Exec=sound-switcher
Icon=/usr/share/icons/oxygen/base/128x128/actions/system-switch-user.png
StartupNotify=false
Type=Application
Categories=AudioVideo;
